.inconjuable{
    color:blue;
}
.verb{
    color:orange;
}
.i{
    background-color:cadetblue;
}
.conjugate{
    font-style:italic;
}
.others{
    color:lime;
}
.green{
    color:green;
}
.particles{
    color:red;
}

.suru{
    background-color:orange;

}
